@import 'tailwindcss';
:root{
    font-family: "BBH Sans Bogle", sans-serif;
    background-color: black;
    color: white;
}
*{
  cursor: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 9999px;
}
